@font-face {
    font-family: 'alluraregular';
    src: url('allura-regular-webfont.woff2') format('woff2'),
         url('allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'abhaya_librebold';
    src: url('abhayalibre-bold-webfont.woff2') format('woff2'),
         url('abhayalibre-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'abhaya_libreregular';
    src: url('abhayalibre-regular-webfont.woff2') format('woff2'),
         url('abhayalibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	text-align: center;
	font-family: 'alluraregular';
}
